#side_nav {
    background: rgba(0, 116, 101, 0.74);
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

.content {
    min-height: 100vh;
    width: 100%;
}

.active {
    background: #2b635b;
}

.compact-sidenav{
    min-width: 65px;
    max-width: 65px;
}

.expand-sidenav{
    width: 250px;
}

@media(max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav ul{
        padding: 0;
    }
    .header-box{
        display: block;
        padding: 0;
    }

    .side-nav-icon {
        font-size: 35px;
    }
}